<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBufD6r1PkY-Qw30vvH59g-lTDHJsORP3g</string>
	<key>GCM_SENDER_ID</key>
	<string>277915771992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab3</string>
	<key>PROJECT_ID</key>
	<string>newproject-8a256</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject-8a256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277915771992:ios:904c7dd890f3a0b5e2962d</string>
</dict>
</plist>